
@{
  ViewData["Title"] = "Login";
}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="signinform">
  <h1>University Project</h1>
  <!-- container -->
  <div class="container">
    <!-- main content -->
    <div class="w3l-form-info">
      <div class="w3_info">
        <h2>Login</h2>
        <form asp-action="Verify" method="post">
          <div class="input-group">
            <span><i class="fas fa-user" aria-hidden="true"></i></span>
            <select class="form-control" name="TipoUsuario" >
              <option value="1"> Administrador</option>
              <option value="2"> Aluno</option>
            </select>
          </div>
          <div class="input-group">
            <span><i class="fas fa-user" aria-hidden="true"></i></span>
            <input type="email" name="Email" placeholder="Email" required>
          </div>
          <div class="input-group">
            <span><i class="fas fa-key" aria-hidden="true"></i></span>
            <input type="Password" value="Senha" name="Senha" placeholder="Password" required>
          </div>
          <div class="form-row bottom">
            <div class="form-check">
            </div>
            @*<a href="#url" class="forgot">Forgot password?</a>*@
          </div>
          <button class="btn btn-primary btn-block" type="submit" value="Login">Login</button>
        </form>
      </div>
    </div>
    <!-- //main content -->
  </div>
</div>
<!-- fontawesome v5-->
<script src="js/fontawesome.js"></script>
