
@{
  ViewData["Title"] = "Login";
}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/style.css" />
</head>

<h1>Aviso - Página em construção.</h1>